.wishlist-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 15px auto;
}

.wishlist-heading {
  font-size: 2rem;
}

.wishlist-content {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.2rem, 1fr));
  justify-content: center;
  gap: 0.8rem;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
}

.empty-wishlist-message-box {
  gap: 1rem;
}
