.signup-page {
  grid-row: span 3;
  width: 100%;
  display: flex;
  height: 100vh;
}

.content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-3);
  color: var(--color-2);
}

.branding-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.branding-logo img {
  max-height: 5rem;
  padding: 5px;
}

.signup-page-heading {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid var(--color-2);
  border-radius: 5px;
}

.input-name-fields {
  display: flex;
  justify-content: space-between;
}

.input-name-field {
  width: 49%;
  height: 100%;
  display: inline-block;
}

.signup-button {
  padding: 10px;
  background-color: var(--color-1);
  border: none;
  border-radius: 5px;
  color: var(--color-2);
  cursor: pointer;
}

.existing-user-prompt {
  margin-top: 20px;
}

.existing-user-prompt a {
  color: var(--color-9);
  text-decoration: underline;
}

.quote-box {
  flex: 1;
  position: relative;
  background-color: var(--color-8);
  overflow: hidden;
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.quote {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  color: var(--color-3);
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  padding: 10px;
}

.form-input-error {
  color: red;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.log-in-link-button {
  color: var(--color-9);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.log-in-link-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .signup-page {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .content-box {
    min-height: 35rem;
  }

  .quote-box {
    height: 40rem;
  }

  .existing-user-prompt {
    margin: 20px;
  }
}
