.cart-page-summary {
  background-color: var(--color-3);
  padding: 1rem;
  margin: 10px;
  margin-top: 0;
  border-radius: 8px;
  border: 1px solid var(--color-7);
}

.cart-page-summary-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cart-page-summary-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.cart-page-summary-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cart-page-summary-list li span:nth-child(1) {
  font-weight: bold;
}

.cart-page-summary-total-amount {
  font-size: 1.1rem;
  font-weight: bold;
}

.cart-page-summary-savings {
  color: var(--color-12);
  margin-bottom: 1rem;
  font-weight: bold;
  font-style: italic;
}

.cart-page-summary-checkout-btn {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-5);
  color: var(--color-3);
  font-size: 14px;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

.cart-page-summary-checkout-btn:hover {
  background-color: var(--color-4);
}
