.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  width: 14rem;
}

.product-image {
  display: flex;
  justify-content: center;
  aspect-ratio: 2/3;
  height: 12.5rem;
  position: relative;
}

.product-image img {
  height: 100%;
  object-fit: cover;
}

.best-seller {
  font-size: 0.9rem;
  position: absolute;
  top: 10px;
  left: -2px;
  background-color: var(--color-5);
  color: var(--color-3);
  padding: 3px;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

.product-details {
  width: 100%;
  padding: 10px;
  flex: 1;
  margin: auto;
  cursor: pointer;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.product-author {
  font-size: 0.9rem;
  color: var(--color-11);
  margin-bottom: 0.5rem;
}

.price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.original-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: var(--color-11);
  margin-right: 0.5rem;
}

.current-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-6);
  margin-right: 0.5rem;
}

.discont-given {
  color: var(--color-12);
  display: inline-block;
  padding: 3px;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  background-color: var(--color-12);
  display: inline-block;
  padding: 3px;
  color: var(--color-3);
  border-radius: 5px;
}

.rating {
  margin-right: 0.25rem;
}

.star {
  color: var(--color-3);
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px;
}

.wishlist-button,
.cart-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.wishlist-button {
  background-color: var(--color-6);
  color: var(--color-3);
}

.cart-button {
  background-color: var(--color-1);
  color: var(--color-6);
}

.product-actions .heart-icon,
.product-actions .shopping-bag-icon {
  margin-right: 5px;
}

.wishlist-button:hover {
  background-color: var(--color-11);
}
.cart-button:hover {
  background-color: var(--color-4);
}

@media screen and (max-width: 767px) {
  .product-card {
    flex-direction: column;
    width: 15rem;
    /* margin: auto; */
  }

  .product-image {
    height: 15rem;
  }

  .product-image img {
    height: 100%;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .product-rating {
    width: fit-content;
  }

  .product-actions {
    flex-direction: column;
    align-items: flex-end;
    width: auto;
  }

  .wishlist-button,
  .cart-button {
    width: 100%;
    margin-top: 0.5rem;
  }
}
