.product-listing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  gap: 1rem;
  margin: 0 auto;
}

.product-listing-page .product-listing-content {
  display: flex;
  width: 100%;
}

.product-listing-page .product-listing-content .filter-box {
  width: 15rem;
  background-color: var(--color-7);
}

.filter-box-content {
  width: 100%;
}

.product-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-content: center;
  gap: 0.8rem;
  flex-direction: column;
  padding: 10px;
  justify-items: center;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  .filter-box {
    display: none;
  }

  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
