.checkout-page {
  max-width: 1200px;
  margin: 15px auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.checkout-page-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 0 10px;
}

.checkout-page-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .checkout-page-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
