.navbar {
  justify-content: space-between;
  color: var(--color-2);
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-branding img {
  max-height: 50px;
}

.navbar-links {
  gap: 1.5rem;
  flex-wrap: wrap;
}

.navbar-link {
  text-decoration: none;
  color: var(--color-2);
  font-family: "Alata", sans-serif;
  font-weight: 500;
  margin-right: 10px;
  position: relative;
  padding: 4px 6px;
  border-radius: 5px;
}

.navbar-link.active {
  background-color: var(--color-4);

  font-weight: bolder;
}

.navbar-link:hover {
  color: var(--color-5);
}

.navbar-link:hover.active {
  color: var(--color-2);
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  height: 2px;
  width: 80%;
  background-color: var(--color-6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar-link:hover::after {
  opacity: 1;
}

.navbar-addons,
.navbar-addons-btns {
  gap: 1rem;
}

.navbar-addons-btns button {
  white-space: nowrap;
}

.search-box {
  padding: 8px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--color-7);
  background-color: var(--color-3);
  color: var(--color-2);
  transition: border-color 0.3s ease-in-out;
}

.search-box::placeholder {
  color: var(--color-6);
}

.shopping-bag-button,
.sign-in-button,
.search-icon,
.search-close-icon,
.hamburger-icons {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: var(--color-6);
  font-family: "Alata", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.shopping-bag-button.active,
.sign-in-button.active {
  color: var(--color-5);
}

.hamburger-icons {
  /* padding: 10px; */
  margin-left: 10px;
}

.sign-in-button {
  font-size: 1.6rem;
}

.mobile-nav-links {
  display: none;
}

.mobile-search-bar {
  display: none;
}

.nav-search-box {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px;
    gap: 1rem;
    position: relative;
  }

  .desktop-nav-links-box {
    display: none;
  }

  .mobile-nav-links {
    display: inline-block;
  }

  .mobile-nav-links-box {
    background-color: var(--color-3);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 74px;
  }

  .navbar-branding {
    flex-grow: 1;
    order: 1;
  }

  .navbar-links {
    order: 3;
    justify-content: center;
  }

  .navbar-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mobile-search-bar {
    display: none;
  }

  .navbar-addons {
    order: 2;
    justify-content: center;
  }

  .search-box {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .navbar-branding img {
    max-height: 40px;
  }

  .shopping-bag-button,
  .sign-in-button,
  .search-icon,
  .search-close-icon,
  .hamburger-icons {
    font-size: 1.2rem;
  }

  .desktop-search-bar {
    display: none;
  }

  .mobile-search-bar {
    display: block;
    order: 3;
  }

  .mobile-nav-links-box {
    left: 0;
    width: 100vw;
    top: 64px;
    right: 0;
  }
}
